.list-container {
    margin-top: 20px;
  }
  
  .list-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .list-container li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .list-container li span {
    text-align: center;
    background-color: rgb(174, 174, 174);
    flex-grow: 1;
    font-size: 16px;
    border-radius: 5% 5%;
  }
  .list-container li button {
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
  }
  
  .list-container li .delete {
    background-color: #dc3545;
  }
  
  
  .list-container li .delete:hover {
    background-color: #c82333;
  }
  
  .warning {
    background-color: #FFCC00; 
  }

  .success {
    background-color: #28a745; 
  }